<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Edit this header in deck.json</title>
  <link rel="stylesheet" href="assets/base.css" />
  <link rel="stylesheet" href="assets/theme.css" />
</head>
<body>
  <div class="slide">
    <header class="slide-header">
      <h1 class="slide-title">Edit this header in deck.json</h1>
      <hr />
    </header>
    <main class="slide-body">
      <div><a href="print.html">Experimental: Single page for printing (most interactivity disabled, figure/font sizing/placement not preserved).</a></div>
      <h2>Table of Contents</h2>
      <ul class = "bullets" style="list-style-type: none;">
        <li><a href="slides/intro.html">1. Intro</a></li>
        <li><a href="slides/layout.html">2. Standard layout + figure</a></li>
        <li><a href="slides/math.html">3. Math + Interactive Value (Katex)</a></li>
        <li><a href="slides/math-demo-full.html">4. Full Math Demo</a></li>
      </ul>
    </main>
  </div>
</body>
</html>
